html {line-height: 1.4em;
}

header {text-align: center;
    font-weight: bold;
}

body {margin-left: 25%;
    margin-right: 25%;
}

img {width: 150px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {text-decoration: underline;
    font-weight: bold;
}

h4 {font-weight: bold;
}

table {border-spacing: 2em 0;
    text-align: left;
}