.title {
    background-image: linear-gradient(to right, #800080, #e600e6);
    text-align: center;
    font-size: 40px;
    font-family: "Arial", sans-serif;
}

.top.menu {
    display:flex;
    margin: auto;
    width: 80%;
    color: white;
    background-color: #520052;
    border-radius: 10px;
}

.top.menu > .item:nth-child(3n+1) {
    background-color: #800080;
    margin-left: auto;
    margin-right: auto;
}

.top.menu > .item:nth-child(3n+2) {
    background-color: #b300b3;
    margin-left: auto;
    margin-right: auto;
}

.top.menu > .item:nth-child(3n+0) {
    background-color: #e600e6;
    margin-left: auto;
    margin-right: auto;
}

.bargraph {
    display: grid;
}

.sidebar {
    background-color: #840084;
    border-radius: 30px;
    padding: 2em;
}

.sidebar.item:hover {
    overflow: hidden;
}

.flexbottom {
    display: flex;
    background-color: #ec00ec;
    position: absolute;
    top: 25%;
    right: 0;
}

.flexbottom.mon {
    border-radius: 10px;
}

/*narrow layout, when page is 814px or less*/
@media screen and (max-width: 814px) {

}